{% extends 'genericfolder/base.html' %}
{% load static %}

{% block title %} Gestion des livraisons {% endblock %}

{% block contenu %}
<div class="row mt">
  {% if livraisonlist %}
    <div class="content-panel">
      <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
          <thead>
            <tr>
                <th> #</th>
                <th> Date Livraison</th>
                <th> Chauffeur</th>
                <th> Véhicule</th>

              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for l in livraisonlist %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ l.date}}</td>
                <td> {{ l.chauffeur.nom }}{{ l.chauffeur.prenom }}</td>
                <td> {{ l.vehicule.matricule }}</td>

                <td>
                    <button onclick="if(confirm('êtes-vous sûr de vouloir modifier la livraison '+'{{l.id}} '+' ?'))location.href='{% url 'gestionlivraisons:modifier_livraison' l.id %}';"
                            class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i>
                    </button>
                    <button onclick="if(confirm('êtes-vous sûr de vouloir supprimer la livraison '+'{{l.id}} '+' ?')){location.href='{% url 'gestionlivraisons:delete_livraison' l.id %}';"
                            class="btn btn-danger btn-xs">
                        <i class="fa fa-trash-o "></i>
                    </button>

                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

  <div class="col-lg-12">
    <h4><i class="fa fa-angle-right"></i> {% block subtitle %}{% endblock %}</h4>
    <div class="form-panel">
      {% if error_message %}
      <div style="color: red;" data-form-alert="" class="danger">
        {{error_message}}
      </div>
      <br>
      {% endif %}

        <form class="mbr-form" action="{% block form_action %}{% endblock %}" method="post"
              enctype="multipart/form-data"
              data-form-title="mobirise form"><input type="hidden" data-form-email="true">
            {% csrf_token %}
            <div class="row row-sm-offset">
                <div class="col-md-4 multi-horizontal" data-for="id_agence">
                    <div class="form-group">
                        <label class="form-control-label mbr-fonts-style display-7"
                               for="phone-form1-2w">Date livraison</label>
                      <input name="date" required class="form-control form-control-inline input-medium default-date-picker"
                                   value="{% if livraison.date %}{{ livraison.date|date:'Y-m-d' }}{% else %}{% now 'Y-m-d' %}{% endif %}"
                                   size="16" type="date" id="date">
                    </div>
                </div>
                <div class="col-md-4 multi-horizontal" data-for="code_postale">
                    <div class="form-group">
                        <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Véhicule</label>
                        <select required class="form-control" name="vehicule">
                    <option></option>
                    {% for vehicule in vehiculelist %}
                        <option {% if vehicule == livraison.vehicule %}selected="selected" {%endif %}
                                value="{{ vehicule.id }}">{{vehicule.matricule}}
                        </option>
                    {% endfor %}
                </select>
                    </div>
                </div>
            </div>
            <div class="row row-sm-offset">
                <div class="col-md-8 multi-horizontal" data-for="nom">
                    <div class="form-group">
                        <label class="form-control-label mbr-fonts-style display-7"
                               for="name-form1-2w">Commande </label>
                        <select class="form-control" name="commande">
                    <option selected="selected"> </option>

                        {% for commande in commandelist %}
                         <option {% if commande == livraison.commande %}selected="selected" {% endif %}
                                value="{{ commande.id }}">{{ commande.libelle}}
                        </option>
                        {% endfor %}
                    </select>
                    </div>
                </div>

            </div>
            <div class="row row-sm-offset">
                <div class="col-md-8 multi-horizontal" data-for="nom">
                    <div class="form-group">
                        <label class="form-control-label mbr-fonts-style display-7"
                               for="name-form1-2w">Chauffeur </label>
                        <select class="form-control" name="chauffeur">
                            <option selected="selected"> </option>
                        {% for personnel in personnellist %}
                         <option {% if personnel == livraison.chauffeur %}selected="selected" {% endif %}
                                value="{{ personnel.id }}">{{ personnel.nom}}
                        </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <p align="left">
                <button type="submit" class="btn btn-primary btn-lg">{% block action_name %}{% endblock %}</button>
                <button type="reset" class="btn btn-default btn-lg">Annuler</button>
            </p>
        </form>
    </div>
      <!-- /form-panel -->
  </div>
</div>

{% endblock %}
