{% extends 'genericfolder/base.html' %}
{% load static %}

{% block title %} {{personnel.prenom}} {{personnel.nom}} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static 'genericfolder/lib/bootstrap-fileupload/bootstrap-fileupload.css' %}"/>
{% endblock %}

{% block contenu %}
    <div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb">Changer mot de passe</h4>
              {% if error_message %}
                <div class="alert alert-danger">
                  {{ error_message }}
                </div>
              {% endif %}
              {% if success_message %}
                <div class="alert alert-success">
                  {{ success_message }}
                </div>
              {% endif %}

              <form action="{% url 'gestionpersonnels:change_password' personnel.id %}" class="form-horizontal style-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Ancienne mot de passe</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="oldPassword">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Nouvelle mot de passe</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="newPassword">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">Confirmer le mot de passe</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" name="confirmNewPassword">
                  </div>
                </div>
                <p align="left">
                    <button type="submit" class="btn btn-primary btn-lg">Sauvgarder</button>
                    <button type="reset" class="btn btn-default btn-lg">Annuler</button>
                </p>
              </form>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
{% endblock %}
