{% load static %}

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'genericfolder/lib/bootstrap/css/bootstrap.min.css' %}">
<!--external css-->
<link rel="stylesheet" type="text/css" href="{% static 'genericfolder/lib/font-awesome/css/font-awesome.css' %}">
<link href="{% static 'genericfolder/lib/advanced-datatable/css/demo_page.css' %}" rel="stylesheet">
<link href="{% static 'genericfolder/lib/advanced-datatable/css/demo_table.css' %}" rel="stylesheet">
<link href="{% static 'genericfolder/lib/advanced-datatable/css/DT_bootstrap.css' %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'genericfolder/css/style.css' %}" rel="stylesheet">
<link href="{% static 'genericfolder/css/style-responsive.css' %}" rel="stylesheet">
